main-blx.bib
main.run.xml
*.acn
*.acr
*.alg
*.aux
*.bbl
*.blg
*.dvi
*.fdb_latexmk
*.glg
*.glo
*.gls
*.idx
*.ilg
*.ind
*.ist
*.lof
*.log
*.lot
*.maf
*.mtc
*.mtc0
*.nav
*.nlo
*.out
*.pdfsync
*.ps
*.snm
*.synctex.gz
*.toc
*.vrb
*.xdy
*.tdo
*.make
*.pdf
*.d
*.temp
*.fls
.DS_STORE
buildinfo.tex
._*
*.cookie
*.fls
.*.sw[a-z]
*~
\#*\#
*bak
*orig
*out
*.zip
